

{%  extends "blog/base.html" %}

{% block title %} Contacts {% endblock%}
{% block contactsactive %}active{% endblock contactsactive %}
{% block content %}

<div class = "container mt-5 mb-5">

    <div class text-center>

    <h1 class = "text-center">Contact us</h1>

    </div>
    <br>
    <hr>
    <div class="row mb-4">
        <div class = "col-md-6">
            <h4>General Inquiries</h4>
            <p>Email: <a href = "mailto:info@kenyaclimateyouthcorps.org">info@kenyaclimateyouthcorps.org</a></p>
            <p>Phone: +2547000000</p>
        </div>
        <div class = "col-md-6">
            <h4>Media Inquiries</h4>
            <p>Email: <a href = "mailto:media@kenyaclimateyouthcorps.media.org">media@kenyaclimateyouthcorps.org</a></p>
            <p>Phone: +2547100000</p>
        </div>

    </div>   
    <div class="row mb-4">
        <div class = "col-md-6">
            <h4>Patnership Opportunities</h4>
            <p>Email: <a href = "mailto:patnerships@kenyaclimateyouthcorps.org">patnerships@kenyaclimateyouthcorps.org</a></p>
            <p>Phone: +2547200000</p>
        </div>
        <div class = "col-md-6">
            <h4>Donation and Support</h4>
            <p>Email: <a href = "mailto:donations@kenyaclimateyouthcorps.media.org">donations@kenyaclimateyouthcorps.media.org</a></p>
            <p>Phone: +2547300000</p>
        </div>

    </div>   
    <div class="row mb-4">
        <div class = "col-md-6">
            <h4>Volunteer Coordination</h4>
            <p>Email: <a href = "mailto:volunteer@kenyaclimateyouthcorps.org">volunteer@kenyaclimateyouthcorps.org</a></p>
            <p>Phone: +2547400000</p>
        </div>
       
    </div> 
     <div class = "col-md-6">
            <h4>Office Locations</h4>
            <p>
                <strong>Headquarters</strong> <br>
                Kenya Climate Youth Corps <br>
                536 Egerton <br>
                Nakuru City <br>
                Kenya
            </p>
            <p>Phone: +2547400000</p>
        </div>

        <div class = "mb-4">

            <h4 class="text-center">Social Media</h4>
            <div class="btn-group mt-5 d-flex justify-content-center">
                <a href="https://x.com/climateyouthske" class="btn btn-outline-primary me-2">
                    <i class="fab fa-x"></i> <!-- FontAwesome X icon -->
                </a> 
                <a href="https://facebook.com/KenyaClimateYouthCorpsOrg" class="btn btn-outline-primary me-2">
                    <i class="fab fa-facebook-f"></i> <!-- FontAwesome Facebook icon -->
                </a> 
                <a href="https://instagram.com/KenyaClimateYouthCorpsOrg" class="btn btn-outline-primary me-2">
                    <i class="fab fa-instagram"></i> <!-- FontAwesome Instagram icon -->
                </a> 
                <a href="https://linkedin.com/KenyaClimateYouthCorpsOrg" class="btn btn-outline-primary me-2">
                    <i class="fab fa-linkedin-in"></i> <!-- FontAwesome LinkedIn icon -->
                </a> 
            </div>
        </div>


        <div>
            <h4 class="align-items-center justify-content-center text-center">Contact Form</h4>
            <form>
                {% csrf_token %}
                <div class = "mb-3">
                    <label for "name" class = "form-label">Name </label>
                    <input type = "text" class = "form-control" id = "name" required>
                </div>
                <div class = "mb-3">
                    <label for "email" class = "form-label">Email </label>
                    <input type = "email" class = "form-control" id = "email" required>
                </div>
                <div class = "mb-3">
                    <label for "subject" class = "form-label">Subject </label>
                    <input type = "text" class = "form-control" id = "subject" required>
                </div>
                <div class = "mb-3">
                    <label for "message" class = "form-label">Message </label>
                    <textarea class = "form-control" id = "message" rows="4" required></textarea>
                </div>
                <button type = "submit" class = "btn btn-outline-primary"> Submit</button>

            </form>
        </div>
        <div class = "mt-4 mb-20">
            <p class = "text-muted">Note our team aims to respond to all our inquirires within 2-3 business days. Thank you for your patience and understanding.</p>
        </div>
</div>

    
{%  endblock %}