{% extends 'blog/base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Our Courses</h1>
    <div class="row">
        <!-- Course 1 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 1 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Course 2 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 2 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Course 3 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 3 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 3 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Course 4 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 4 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 4 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Course 5 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 5 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Course 6 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 6 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Course 7 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 3 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 7 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Course 8 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="/static/effects.jfif" class="card-img-top" alt="Course 4 Image">
                <div class="card-body">
                    <h5 class="card-title">Course 8 Title</h5>
                    <p class="card-text">Brief description of the course. Learn more about what this course offers and how it can benefit you.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>

        <!-- Add more courses as needed -->
    </div>
</div>
{% endblock %}
