

{%  extends "blog/base.html" %}

{% block title %} About {% endblock%}
{% block aboutactive %}active{% endblock aboutactive %}
{% block content %}

<div class="container">
<div class = "container mt-5">
   
        <h1 class = "align-items-center justify-content-center text-center wow animate__animated animate__fadeInDown" data-wow-delay="1s">About Us</h1>
        <hr>
        <br>

     <div class = "row">

        <div class = "col-md-8">

            <h2 class="wow animate__animated animate__fadeInLeft" data-wow-delay="1s"> Our Mission</h2>

            <p class="wow animate__animated animate__fadeInLeft" data-wow-delay="2s">
            Kenya Climate Youth Corps is dedicated to empowering the youth to take action against climate change.
            Our mission is to educate, inspire, and mobilize young people around the world to lead the charge in creating a sustainable future.
            </p>
            <br>
            <h2 class="wow animate__animated animate__fadeInLeft" data-wow-delay="3s"> Our Vision</h2>

            <p class="wow animate__animated animate__fadeInLeft" data-wow-delay="3.5s">
            We envision a world where the next generation is fully equipped and motivated to address climate challenges.
            Through collaborative efforts, we aim to foster innovative solutions that mitigate the impacts of climate change and promote environmental justice.
            </p>
            <br>
            <h2 class="wow animate__animated animate__fadeInLeft" data-wow-delay="4s"> Our Values</h2>

            <ul class="wow animate__animated animate__fadeInLeft" data-wow-delay="4.5s">
            <li> <strong> Sustainability: </strong> Committed to promoting practices that ensure the long-term health of our planet.  </li>
            <li> <strong> Education: </strong> Providing resources and opportunities for learning about climate issues. </li>
            <li> <strong> Empowerment: </strong> Enabling young people to become leaders in their communities. </li>
            <li> <strong> Collaboration: </strong> Working together with individuals, organizsations and governments to drive change.  </li>
            <li> <strong> Discovery: </strong> Seeking new ideas and ways to deal with climate issues </li>
            <li> <strong> Innovation: </strong> Actively coming up with science technological advanced ideas to curb climate change.  </li>
        </ul>
        <br>
            <h2 class="wow animate__animated animate__fadeInLeft" data-wow-delay="5s"> Our team</h2>

            <p class="wow animate__animated animate__fadeInLeft" data-wow-delay="5.5s">
            Our team comprised of passionate individuals from diverse backgrounds, all united by a common goal: to make a positive impact on our planet.
            From environmental scientists to community organizers, each member brings unique skills and perspectives to the table.
            </p>

        </div>
        <div class = "col-md-4">

        <h2 class="wow animate__animated animate__fadeInRight" data-wow-delay="6.5s"> Quick Facts</h2>

        <ul class="wow animate__animated animate__fadeInRight" data-wow-delay="7s">

            <li> Founded in April 2024</li>
            <li> National network over 15 universities</li>
            <li> patnered with more than 10 organiations (nationally and globally)</li>
            <li> Over 1000 youth members</li>
        
        </ul>
        <br>
        <h2 class="wow animate__animated animate__fadeInUp" data-wow-delay="2s"> Contact Information</h2>
       <!-- <button class="btn btn-outline-primary"> 
        <a href= role="button">Contact us</a>
        </button> -->
        <a class="btn btn-lg btn-outline-primary wow animate__animated animate__fadeInUp" data-wow-delay="2s" href='{% url "blog:post_contact" %}' role="button">Contact Us</a> 
        <a class="btn btn-lg btn-outline-dark wow animate__animated animate__fadeInUp" data-wow-delay="2s" href='{% url "blog:join" %}' role="button">Join Us Today</a>
        </div>

        
    </div>

</div>
</div>



   
{%  endblock %}